.Pokecard{
   
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    border-radius: 15px;
    transition: .5s ease;
    animation-name: animation;
    animation-duration: 1s;
background-color: rgb(212, 202, 212);
   

}

.Pokecard:hover{
    transform: scale(1.2);

}


.Pokecard h1,p{
    margin:0;
    padding: 0;
}

.card-header{
    font-size: 20px;
    font-family: sans-serif;
    color:rgb(0, 132, 255)
}

.card-type{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:5px;
    
}

.card-base{
    font-size:1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
}


.Pokecard img{
    width:50%
}


@keyframes animation{
    0% {
        transform: translate3d(1000px,0,0);
    }

    100%{
        transform: translate3d(0);
    }
}